<?xml version="1.0" encoding="UTF-8"?>
<plugin>

<extension point="org.eclipse.debug.core.launchConfigurationTypes">
	<launchConfigurationType
            delegate="amfipter.plugin.CompositeConfiguration"
            id="amfipter.plugin.composite"
            name="Composite"
            modes="run, debug">
      </launchConfigurationType>
</extension>

</plugin>
