<plugin>

<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="icons/flask16.gif"
        configTypeID="amfipter.plugin.composite"
        id="amfipter.plugin.image">
    </launchConfigurationTypeImage>
</extension>

<extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="amfipter.plugin.ui.CompositeTabGroup"
            id="amfipter.plugin.compositeTabs"
            type="amfipter.plugin.composite">
      </launchConfigurationTabGroup>
</extension>

</plugin>
